body {
    background-color: #f5d9df;
    font-family: 'Nunito', sans-serif;
}

#main-navbar .navbar-brand {
    color: #ea1c2c;
}

#main-navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-navbar .nav-link {
    color: #ffffff;
}

#main-navbar .nav-link:hover {
    color: #ea1c2c;
}

#title-text span {
    color: #ea1c2c;
}

#title-text h1 {
    font-weight: 100;
    font-size: 3.5rem;
}

@media (max-width: 1200px) {
    #title-text h1 {
        font-size: 2.5rem;
    }
}